{
  "env": {
    "browser": true,
    "es2020": true,
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
    },
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-console": ["warn", { "allow": ["tron"] }],
    "no-inline-comments": "error",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off",
    "react/prop-types": "off",
    "eol-last": "error",
    "max-len": ["error", { "code": 120, "tabWidth": 4 }],
    "lines-between-class-members": ["error", "always"],
    "prettier/prettier": "off",
    "quotes": "off",
    "indent": "off",
    "semi": "off",
    "no-constant-condition": "off",
    "no-empty-pattern": "off",
    "@typescript-eslint/explicit-function-return-type":"off"
},
}
